body{
    background-image: url('images/háttér.jpg');
    
}
h1 {
    text-align: center;
}
.body{
    background-image: url('https://media.istockphoto.com/photos/dark-wood-texture-background-picture-id1159655555?k=20&m=1159655555&s=170667a&w=0&h=yZpZx3tJbHpeCuqel6GVURVe6X3GcRYEysON3UXLP98=');
    height: 100%;
    width: 70%;
    margin:0 auto 0 auto;
    padding: 0 5% 0 5%;
    color: white;
    font-size: 40px;
}