body{
    background-image: url('images/háttér.jpg');
    
}
h1 {
    text-align: center;
}
.body{
    background-image: url('https://media.istockphoto.com/photos/dark-wood-texture-background-picture-id1159655555?k=20&m=1159655555&s=170667a&w=0&h=yZpZx3tJbHpeCuqel6GVURVe6X3GcRYEysON3UXLP98=');
    /* background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://media.istockphoto.com/photos/dark-wood-texture-background-picture-id1159655555?k=20&m=1159655555&s=170667a&w=0&h=yZpZx3tJbHpeCuqel6GVURVe6X3GcRYEysON3UXLP98="); */
    height: 100%;
    width: 70%;
    margin:0 auto 0 auto;
    padding: 0 5% 0 5%;
    color: white;
    font-size: 40px;
}
.pizzakep{
    width: 300px;
    float: left;
}
#pizzavideo{
    width: 1120px;
    height: 630px;
    margin-left: 8%;
}
.etlapcim{
    float: right;
}

#pizzavideo{
    width: 65%;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    text-align: justify;
    color: white;
}

.footer a{
    color:white;
    text-decoration: none;
}
table td, table th{
    border: 1px solid gray;
}
table{
    border-collapse: collapse;
    margin: 0 auto;

}
.menu{
    background-color: #040d15;
    color: white;
    margin: -8px -63px 0px -63px;
    text-align: center;
    padding-top: 5px; padding-bottom: 5px;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu span{
    margin-right: 20px;
    color: red;
    font-weight: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#link{
    color: white;
    text-decoration: none;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cím{
    margin-top: -500px;
    margin-right: -220px;
}
#pizzaháttér{
    margin: 50px -45px 0px 150px;
    width: 1000px;
}
